    <!DOCTYPE html>
<html>
    <style>
body {
  background-image: url('https://images.unsplash.com/photo-1558494949-ef010cbdcc31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2091&q=80');
}
</style>


   <head>
      <title>SNS</title>
	 <style>
         .button {
         background-color: #ffffff;
         border: none;
         color: black;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }
      </style>
       <h1><font color="white"><font size="20">Smart Network System (SNS)</font></font></></h1>
   </head>
   <br/><br/><br/><br/><br/><br/><br/><br/>

